.cabecalho
{
    background-color: rgba(161, 135, 61, 0.637);
    font-size: 1080;
}
 h1 {
    text-align : center;
    background-color : rgb(255, 115, 0);
}
 h2 {
    background-color: rgb(255, 115, 0);
}
.imagem {
    width: 850px;
    background-image:linear-gradient();
}

 P {
    font-size:  18 px ;
}
.parágrafo1 {
    font-size :  22 px ;
}
.parágrafos {
    font-size :  18 px ;
}
footer{ 
    background-color: aquamarine;
    padding: 15px 0 ;
    display:gride
}
rodapé{

}


