.cabecalho
{
    background-color: rgba(106, 14, 228, 0.842);
    font-size: 1080;
}
 h1 {
    text-align : center;
    background-color : rgba(0, 255, 0, 0.445);
}
 h2 {
    background-color: rgba(0, 255, 0, 0.445);
}
.IMAGEM1{
    width: 850px;
    background-image:linear-gradient();
}
.imagem {
    width: 850px;
    background-image:linear-gradient();
}

 P {
    font-size:  18 px ;
}
.parágrafo1 {
    font-size :  22 px ;
}
.parágrafos {
    font-size :  18 px ;
}
footer{ 
    background-color: rgb(8, 158, 108);
    padding: 15px 0 ;
    display:gride
}
rodapé{

}

